In [107]:
import pandas as pd

# Load the CSV file into a DataFrame
file_path = "C:\\Users\\user\\Desktop\\airbnb\\abnb_dataset.csv"
df = pd.read_csv(file_path)

df

,_id,listing_url,name,summary,space,description,neighborhood_overview,notes,transit,access,...,availability,review_scores,reviews,first_review,last_review,security_deposit,cleaning_fee,weekly_price,monthly_price,reviews_per_month
0,10057447,https://www.airbnb.com/rooms/10057447,Modern Spacious 1 Bedroom Loft,"Prime location, amazing lighting and no annoyi...",Lot's of plants and lights. Really great mode...,"Prime location, amazing lighting and no annoyi...",NaN,NaN,NaN,NaN,...,"{'availability_30': 0, 'availability_60': 0, '...",{},[],NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10057826,https://www.airbnb.com/rooms/10057826,Deluxe Loft Suite,Loft Suite Deluxe @ Henry Norman Hotel Located...,This loft unit features a kitchenette and is f...,Loft Suite Deluxe @ Henry Norman Hotel Located...,Greenpoint is an artsy Brooklyn neighborhood f...,NaN,NaN,"Guest will have access to common terraces, lou...",...,"{'availability_30': 30, 'availability_60': 31,...","{'review_scores_accuracy': 9, 'review_scores_c...","[{'_id': '58665374', 'date': datetime.datetime...",2016-01-03 05:00:00,2018-02-18 05:00:00,NaN,NaN,NaN,NaN,NaN
2,10006546,https://www.airbnb.com/rooms/10006546,Ribeira Charming Duplex,Fantastic duplex apartment with three bedrooms...,Privileged views of the Douro River and Ribeir...,Fantastic duplex apartment with three bedrooms...,"In the neighborhood of the river, you can find...",Lose yourself in the narrow streets and stairc...,Transport: • Metro station and S. Bento railwa...,We are always available to help guests. The ho...,...,"{'availability_30': 28, 'availability_60': 47,...","{'review_scores_accuracy': 9, 'review_scores_c...","[{'_id': '58663741', 'date': datetime.datetime...",2016-01-03 05:00:00,2019-01-20 05:00:00,200.0,35.0,NaN,NaN,NaN
3,10059872,https://www.airbnb.com/rooms/10059872,"Soho Cozy, Spacious and Convenient","Clean, fully furnish, Spacious 1 bedroom flat ...",NaN,"Clean, fully furnish, Spacious 1 bedroom flat ...",NaN,NaN,NaN,NaN,...,"{'availability_30': 0, 'availability_60': 0, '...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '56904633', 'date': datetime.datetime...",2015-12-19 05:00:00,2018-03-27 04:00:00,NaN,NaN,5000.0,NaN,NaN
4,10066928,https://www.airbnb.com/rooms/10066928,3 chambres au coeur du Plateau,Notre appartement comporte 3 chambres avec cha...,"Notre logement est lumineux, plein de vie et c...",Notre appartement comporte 3 chambres avec cha...,"L'appartement se situe au coeur du Plateau, do...",NaN,L'appartement se situe à égale distance des mé...,Le logement sera disponible en entier pour vot...,...,"{'availability_30': 0, 'availability_60': 0, '...",{},[],NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5550,9738789,https://www.airbnb.com/rooms/9738789,Pittwater - designer home & pool,Beautiful modern architect designed home - 4 b...,"Modern 4 bedroom, 2.5 bathroom open plan house...",Beautiful modern architect designed home - 4 b...,Quite street with 100 metre walk to Pittwater ...,NaN,Bus stop 100 metres away on main road - Pittwa...,Access to house and garden (not garages).,...,"{'availability_30': 0, 'availability_60': 0, '...",{},[],NaN,NaN,500.0,NaN,2500.0,NaN,NaN
5551,9895628,https://www.airbnb.com/rooms/9895628,Duplex com vista para o J. Botanico,O apartamento é amplo e localizado em rua tran...,O apartamento fica em prédio antigo e é muito ...,O apartamento é amplo e localizado em rua tran...,A rua tem restaurantes e lojas descoladas e de...,"Temos 2 suites com cama de casal, um sofá cama...",NaN,Muito silencioso e iluminado. A cozinha é perf...,...,"{'availability_30': 0, 'availability_60': 0, '...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '94452416', 'date': datetime.datetime...",2016-08-15 04:00:00,2016-08-15 04:00:00,800.0,200.0,NaN,NaN,NaN
5552,9907103,https://www.airbnb.com/rooms/9907103,Brand New Luxury Downtown Studio,Perfectly located on the very famous Crescent ...,Perfectly located on the very famous Crescent ...,Perfectly located on the very famous Crescent ...,NaN,NaN,NaN,NaN,...,"{'availability_30': 29, 'availability_60': 59,...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '57825526', 'date': datetime.datetime...",2015-12-29 05:00:00,2017-01-06 05:00:00,NaN,50.0,NaN,NaN,NaN
5553,9936016,https://www.airbnb.com/rooms/9936016,Alugo Apartamento na Tijuca,Apartamento amplo que acomoda 6 pessoas. Um qu...,NaN,Apartamento amplo que acomoda 6 pessoas. Um qu...,NaN,NaN,NaN,NaN,...,"{'availability_30': 0, 'availability_60': 0, '...",{},[],NaN,NaN,NaN,NaN,NaN,NaN,NaN
5554,9951865,https://www.airbnb.com/rooms/9951865,Quarto Legal,"Meu espaço é perto de Cristo Redentor, Copacab...","Sala, cozinha, áreas comuns do prédio. Caso o ...","Meu espaço é perto de Cristo Redentor, Copacab...","Gosto de morar aqui, e tranquilo ,tem acesso a...",No nossa condomínio possuímos sala de jogos sê...,"Os hóspedes podem se locomover de ônibus, metr...","Podem usar a sala , cozinha , banheiro e a aca...",...,"{'availability_30': 30, 'availability_60': 60,...","{'review_scores_accuracy': 10, 'review_scores_...","[{'_id': '235088123', 'date': datetime.datetim...",2018-02-15 05:00:00,2018-02-15 05:00:00,0.0,50.0,NaN,NaN,NaN

In [108]:
df['images']

0       {'thumbnail_url': '', 'medium_url': '', 'pictu...
1       {'thumbnail_url': '', 'medium_url': '', 'pictu...
2       {'thumbnail_url': '', 'medium_url': '', 'pictu...
3       {'thumbnail_url': '', 'medium_url': '', 'pictu...
4       {'thumbnail_url': '', 'medium_url': '', 'pictu...
                              ...
5550    {'thumbnail_url': '', 'medium_url': '', 'pictu...
5551    {'thumbnail_url': '', 'medium_url': '', 'pictu...
5552    {'thumbnail_url': '', 'medium_url': '', 'pictu...
5553    {'thumbnail_url': '', 'medium_url': '', 'pictu...
5554    {'thumbnail_url': '', 'medium_url': '', 'pictu...
Name: images, Length: 5555, dtype: object

In [109]:
import pandas as pd
import json



# Define a function to extract values from the JSON string
def extract_image_urls(row):
    try:
        # Convert the JSON string to a Python dictionary
        image_dict = json.loads(row["images"].replace("'", "\""))
        # Extract the values for each key
        thumbnail_url = image_dict.get("thumbnail_url", "")
        medium_url = image_dict.get("medium_url", "")
        picture_url = image_dict.get("picture_url", "")
        xl_picture_url = image_dict.get("xl_picture_url", "")
        return pd.Series([thumbnail_url, medium_url, picture_url, xl_picture_url])
    except:
        # Return empty strings if there's an error
        return pd.Series(["", "", "", ""])

# Apply the function to each row and create new columns
df[["thumbnail_url", "medium_url", "picture_url", "xl_picture_url"]] = df.apply(extract_image_urls, axis=1)

# Drop the original "images" column
df.drop(columns=["images"], inplace=True)

In [110]:
df["xl_picture_url"].unique()

array([''], dtype=object)

In [111]:
import pandas as pd
import ast



# Define a function to handle missing keys in the host column
def split_host(row):
    try:
        host_info = ast.literal_eval(row)
        return pd.Series(host_info)
    except ValueError:
        return pd.Series({})

# Apply the function to split the "host" column into separate columns
host_columns = df['host'].apply(split_host)

# Concatenate the new columns with the original DataFrame
df = pd.concat([df, host_columns], axis=1)

# Drop the original "host" column
df.drop('host', axis=1, inplace=True)

In [ ]:
["host_id", "host_url", "host_name", "host_location", "host_about", "host_response_time", "host_thumbnail_url", "host_picture_url", "host_neighbourhood", "host_response_rate", "host_is_superhost", "host_has_profile_pic", "host_identity_verified", "host_listings_count", "host_total_listings_count", "host_verifications"]

In [ ]:
"address": {
    "street": "Porto, Porto, Portugal",
    "suburb": "Ciutat Vella",
    "government_area": "Cedofeita, Ildefonso, Sé, Miragaia, Nicolau, Vitória",
    "market": "Porto",
    "country": "Portugal",
    "country_code": "PT",
    "location": {
      "type": "Point",
      "coordinates": [
        -8.61308,
        41.1413
      ],
      "is_location_exact": false
    }
  }

In [112]:
import pandas as pd
import ast


# Define a function to extract street name from JSON
def extract_street(address_json):
    try:
        address_dict = ast.literal_eval(address_json)
        return address_dict.get("street", "")
    except (SyntaxError, ValueError):
        return ""

# Apply the function to the "address" column and create a new column for street names
df['street_name'] = df['address'].apply(extract_street)

# Print the first few rows to verify
print(df['street_name'].head())

0                  Montréal, Québec, Canada
1               Brooklyn, NY, United States
2                    Porto, Porto, Portugal
3    Hong Kong, Hong Kong Island, Hong Kong
4                  Montréal, Québec, Canada
Name: street_name, dtype: object

In [113]:
import pandas as pd
import ast


# Define a function to extract suburb from JSON
def extract_suburb(address_json):
    try:
        address_dict = ast.literal_eval(address_json)
        return address_dict.get("suburb", "")
    except (SyntaxError, ValueError):
        return ""

# Apply the function to the "address" column and create a new column for suburbs
df['suburb'] = df['address'].apply(extract_suburb)

# Print the first few rows to verify
print(df['suburb'].head())

0                      Mile End
1                    Greenpoint
2
3    Central & Western District
4         Le Plateau-Mont-Royal
Name: suburb, dtype: object

In [114]:
import pandas as pd
import ast


# Define a function to extract government area from JSON
def extract_government_area(address_json):
    try:
        address_dict = ast.literal_eval(address_json)
        return address_dict.get("government_area", "")
    except (SyntaxError, ValueError):
        return ""

# Apply the function to the "address" column and create a new column for government areas
df['government_area'] = df['address'].apply(extract_government_area)

# Print the first few rows to verify
print(df['government_area'].head())

0                                Le Plateau-Mont-Royal
1                                           Greenpoint
2    Cedofeita, Ildefonso, Sé, Miragaia, Nicolau, V...
3                                    Central & Western
4                                Le Plateau-Mont-Royal
Name: government_area, dtype: object

In [115]:
import pandas as pd
import ast


# Define a function to extract the market from JSON
def extract_market(address_json):
    try:
        address_dict = ast.literal_eval(address_json)
        return address_dict.get("market", "")
    except (SyntaxError, ValueError):
        return ""

# Apply the function to the "address" column and create a new column for markets
df['market'] = df['address'].apply(extract_market)

# Print the first few rows to verify
print(df['market'].head())

0     Montreal
1     New York
2        Porto
3    Hong Kong
4     Montreal
Name: market, dtype: object

In [116]:
import pandas as pd
import ast


# Define a function to extract the country from JSON
def extract_country(address_json):
    try:
        address_dict = ast.literal_eval(address_json)
        return address_dict.get("country", "")
    except (SyntaxError, ValueError):
        return ""

# Apply the function to the "address" column and create a new column for countries
df['country'] = df['address'].apply(extract_country)

# Print the first few rows to verify
print(df['country'].head())

0           Canada
1    United States
2         Portugal
3        Hong Kong
4           Canada
Name: country, dtype: object

In [117]:
import pandas as pd
import ast


# Define a function to extract the country code from JSON
def extract_country_code(address_json):
    try:
        address_dict = ast.literal_eval(address_json)
        return address_dict.get("country_code", "")
    except (SyntaxError, ValueError):
        return ""

# Apply the function to the "address" column and create a new column for country codes
df['country_code'] = df['address'].apply(extract_country_code)

# Print the first few rows to verify
print(df['country_code'].head())

0    CA
1    US
2    PT
3    HK
4    CA
Name: country_code, dtype: object

In [118]:
import pandas as pd
import ast


# Define a function to extract location information from JSON
def extract_location_info(address_json):
    try:
        address_dict = ast.literal_eval(address_json)
        location_info = address_dict.get("location", {})
        return location_info
    except (SyntaxError, ValueError):
        return {}

# Apply the function to the "address" column and create new columns for location information
df['location_info'] = df['address'].apply(extract_location_info)

# Extract latitude and longitude from location information
df['latitude'] = df['location_info'].apply(lambda x: x.get('coordinates', [])[1] if 'coordinates' in x else None)
df['longitude'] = df['location_info'].apply(lambda x: x.get('coordinates', [])[0] if 'coordinates' in x else None)
df['is_location_exact'] = df['location_info'].apply(lambda x: x.get('is_location_exact', False))

# Print the first few rows to verify
print(df[['latitude', 'longitude', 'is_location_exact']].head())

   latitude  longitude  is_location_exact
0  45.51889  -73.59111               True
1  40.72778  -73.94472               True
2  41.14130   -8.61308              False
3  22.28158  114.15027               True
4  45.52233  -73.57383               True

In [119]:
df.drop('address', axis=1, inplace=True)

In [120]:
import pandas as pd
import ast


# Define a function to extract availability information from JSON
def extract_availability_info(availability_json):
    try:
        availability_dict = ast.literal_eval(availability_json)
        return availability_dict
    except (SyntaxError, ValueError):
        return {}

# Apply the function to the "availability" column and create new columns for availability information
df['availability_info'] = df['availability'].apply(extract_availability_info)

# Extract availability for different periods
df['availability_30'] = df['availability_info'].apply(lambda x: x.get('availability_30', None))
df['availability_60'] = df['availability_info'].apply(lambda x: x.get('availability_60', None))
df['availability_90'] = df['availability_info'].apply(lambda x: x.get('availability_90', None))
df['availability_365'] = df['availability_info'].apply(lambda x: x.get('availability_365', None))

# Print the first few rows to verify
print(df[['availability_30', 'availability_60', 'availability_90', 'availability_365']].head())

   availability_30  availability_60  availability_90  availability_365
0                0                0                0                 0
1               30               31               31               243
2               28               47               74               239
3                0                0                0                 0
4                0                0                0                 0

In [121]:
df.drop('availability', axis=1, inplace=True)

In [122]:
import pandas as pd
import ast


# Define a function to extract review scores information from JSON
def extract_review_scores_info(review_scores_json):
    try:
        review_scores_dict = ast.literal_eval(review_scores_json)
        return review_scores_dict
    except (SyntaxError, ValueError):
        return {}

# Apply the function to the "review_scores" column and create new columns for review scores information
df['review_scores_info'] = df['review_scores'].apply(extract_review_scores_info)

# Extract individual review scores
df['review_scores_accuracy'] = df['review_scores_info'].apply(lambda x: x.get('review_scores_accuracy', None))
df['review_scores_cleanliness'] = df['review_scores_info'].apply(lambda x: x.get('review_scores_cleanliness', None))
df['review_scores_checkin'] = df['review_scores_info'].apply(lambda x: x.get('review_scores_checkin', None))
df['review_scores_communication'] = df['review_scores_info'].apply(lambda x: x.get('review_scores_communication', None))
df['review_scores_location'] = df['review_scores_info'].apply(lambda x: x.get('review_scores_location', None))
df['review_scores_value'] = df['review_scores_info'].apply(lambda x: x.get('review_scores_value', None))
df['review_scores_rating'] = df['review_scores_info'].apply(lambda x: x.get('review_scores_rating', None))

# Print the first few rows to verify
print(df[['review_scores_accuracy', 'review_scores_cleanliness', 'review_scores_checkin', 
          'review_scores_communication', 'review_scores_location', 'review_scores_value', 
          'review_scores_rating']].head())

   review_scores_accuracy  review_scores_cleanliness  review_scores_checkin  \
0                     NaN                        NaN                    NaN
1                     9.0                       10.0                   10.0
2                     9.0                        9.0                   10.0
3                    10.0                       10.0                   10.0
4                     NaN                        NaN                    NaN

   review_scores_communication  review_scores_location  review_scores_value  \
0                          NaN                     NaN                  NaN
1                          8.0                     9.0                  9.0
2                         10.0                    10.0                  9.0
3                         10.0                    10.0                  8.0
4                          NaN                     NaN                  NaN

   review_scores_rating
0                   NaN
1                  88.0
2                  89.0
3                 100.0
4                   NaN

In [123]:
df.drop('review_scores', axis=1, inplace=True)

In [124]:
# Save the modified DataFrame to a new CSV file
df.to_csv("modified_file.csv", index=False)

In [15]:
import pandas as pd

# Load the CSV file into a DataFrame
file_path = "C:\\Users\\user\\Desktop\\airbnb\\modified_file.csv"
df = pd.read_csv(file_path)

In [16]:
df.drop('availability_info', axis=1, inplace=True)

In [17]:
df.drop('location_info', axis=1, inplace=True)

In [18]:
df.drop('review_scores_info', axis=1, inplace=True)

In [5]:
# Save the modified DataFrame to a new CSV file
df.to_csv("newmod.csv", index=False)

In [19]:
df.to_excel('ac.xlsx', index=False)

In [6]:
import pandas as pd
from pymongo import MongoClient

# MongoDB connection settings
mongo_uri = "mongodb+srv://rp:7654@cluster0.eu7csqt.mongodb.net/?retryWrites=true&w=majority"
mongo_db = 'modnew'
mongo_collection = 'mod'

# CSV file path
csv_file = "C:\\Users\\user\\Desktop\\airbnb\\newmod.csv"

# Connect to MongoDB
client = MongoClient(mongo_uri)
db = client[mongo_db]
collection = db[mongo_collection]

# Read CSV file into a pandas DataFrame
df = pd.read_csv(csv_file)

# Convert DataFrame to a list of dictionaries (one per row)
data = df.to_dict(orient='records')

# Insert data into MongoDB
collection.insert_many(data)

print("Data imported successfully into MongoDB.")

Data imported successfully into MongoDB.

In [8]:
import pandas as pd

# Load the CSV file into a DataFrame
file_path = "C:\\Users\\user\\Desktop\\airbnb\\newmod.csv"
df = pd.read_csv(file_path)

In [9]:
df.dtypes

_id                              int64
listing_url                     object
name                            object
summary                         object
space                           object
                                ...
review_scores_checkin          float64
review_scores_communication    float64
review_scores_location         float64
review_scores_value            float64
review_scores_rating           float64
Length: 77, dtype: object

In [10]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5555 entries, 0 to 5554
Data columns (total 77 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   _id                          5555 non-null   int64
 1   listing_url                  5555 non-null   object
 2   name                         5547 non-null   object
 3   summary                      5297 non-null   object
 4   space                        3929 non-null   object
 5   description                  5460 non-null   object
 6   neighborhood_overview        3314 non-null   object
 7   notes                        2474 non-null   object
 8   transit                      3323 non-null   object
 9   access                       3102 non-null   object
 10  interaction                  3077 non-null   object
 11  house_rules                  3270 non-null   object
 12  property_type                5555 non-null   object
 13  room_type                    5555 non-null   object
 14  bed_type                     5555 non-null   object
 15  minimum_nights               5555 non-null   int64
 16  maximum_nights               5555 non-null   int64
 17  cancellation_policy          5555 non-null   object
 18  last_scraped                 5555 non-null   object
 19  calendar_last_scraped        5555 non-null   object
 20  accommodates                 5555 non-null   int64
 21  bedrooms                     5555 non-null   float64
 22  beds                         5555 non-null   float64
 23  number_of_reviews            5555 non-null   int64
 24  bathrooms                    5555 non-null   float64
 25  amenities                    5555 non-null   object
 26  price                        5555 non-null   float64
 27  extra_people                 5555 non-null   float64
 28  guests_included              5555 non-null   int64
 29  reviews                      5555 non-null   object
 30  first_review                 4167 non-null   object
 31  last_review                  4167 non-null   object
 32  security_deposit             3471 non-null   float64
 33  cleaning_fee                 4024 non-null   float64
 34  weekly_price                 714 non-null    float64
 35  monthly_price                656 non-null    float64
 36  reviews_per_month            94 non-null     float64
 37  thumbnail_url                0 non-null      float64
 38  medium_url                   0 non-null      float64
 39  picture_url                  5555 non-null   object
 40  xl_picture_url               0 non-null      float64
 41  host_id                      5555 non-null   int64
 42  host_url                     5555 non-null   object
 43  host_name                    5555 non-null   object
 44  host_location                5547 non-null   object
 45  host_about                   3336 non-null   object
 46  host_thumbnail_url           5555 non-null   object
 47  host_picture_url             5555 non-null   object
 48  host_neighbourhood           3632 non-null   object
 49  host_is_superhost            5555 non-null   bool
 50  host_has_profile_pic         5555 non-null   bool
 51  host_identity_verified       5555 non-null   bool
 52  host_listings_count          5555 non-null   int64
 53  host_total_listings_count    5555 non-null   int64
 54  host_verifications           5555 non-null   object
 55  host_response_time           4167 non-null   object
 56  host_response_rate           4167 non-null   float64
 57  street_name                  5555 non-null   object
 58  suburb                       4668 non-null   object
 59  government_area              5555 non-null   object
 60  market                       5549 non-null   object
 61  country                      5555 non-null   object
 62  country_code                 5555 non-null   object
 63  latitude                     5555 non-null   float64
 64  longitude                    5555 non-null   float64
 65  is_location_exact            5555 non-null   bool
 66  availability_30              5555 non-null   int64
 67  availability_60              5555 non-null   int64
 68  availability_90              5555 non-null   int64
 69  availability_365             5555 non-null   int64
 70  review_scores_accuracy       4079 non-null   float64
 71  review_scores_cleanliness    4082 non-null   float64
 72  review_scores_checkin        4080 non-null   float64
 73  review_scores_communication  4081 non-null   float64
 74  review_scores_location       4081 non-null   float64
 75  review_scores_value          4080 non-null   float64
 76  review_scores_rating         4081 non-null   float64
dtypes: bool(4), float64(23), int64(13), object(37)
memory usage: 3.1+ MB
None